<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feature.projectone">

    <application
        android:name=".other.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/login_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 登陆与注册界面界面 -->
        <activity
            android:name=".activity.LoginAndRegistActivity"
            android:launchMode="singleTask">

        </activity>

        <!-- 注册协议界面 -->
        <activity android:name=".activity.RegistAgreementActivty" />

        <!-- 忘记密码界面 -->
        <activity android:name=".activity.ForgetPswActivity" />

        <!-- 首页界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 新闻资讯首页界面 -->
        <activity android:name=".activity.NewsHeadlinesMainActivity">

        </activity>

        <!-- 新闻资讯详情界面 -->
        <activity android:name=".activity.NewsHeadlinesDetailsActivity" />

        <!-- 资源下载界面 -->
        <activity android:name=".activity.SourceDownloadActivity" />

        <!-- 新闻搜索界面 -->
        <activity android:name=".activity.NewsSearchActivity" />

        <!-- 评论详情界面 -->
        <activity
            android:name=".activity.ReplyDetailsActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- 资源下载列表界面 -->
        <activity android:name=".activity.SourceDownloadListActivity" />

        <!-- 资源下载列表详情界面 -->
        <activity android:name=".activity.SourceDownloadListDetailActivity" />

        <!-- 资源下载文件查看界面 -->
        <activity android:name=".activity.SourceDownloadSeeFileActivity" />
    </application>

    <!-- 允许程序访问有关GSM网络信息权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--   读写Sd卡权限  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />





    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>